/.gradle/
/build/

*.bkp
*.dtmp

/src/main/js/ex6/node_modules/
/src/main/js/ex6/package-lock.json

/src/main/js/ex7/server/node_modules/
/src/main/js/ex7/client/node_modules/
/src/main/js/ex7/server/package-lock.json
/src/main/js/ex7/client/package-lock.json
